<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >
	<bean id="JDBCTransportServiceBean" class="com.esri.geoevent.transport.jdbc.JDBCInboundTransportService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="JDBCTransportService" ref="JDBCTransportServiceBean" interface="com.esri.ges.transport.TransportService"/>
</blueprint>